/* The Responsive Design should work at least with the following devices

Desktop width 960px
Mobile: Google Nexus 5
Tablet: Apple iPad */

@media only screen and (max-width: 420px) {
  body {
    background-color: #ee82ee;
  max-width: 420px;}
  .header-logo{margin: 0;}
  .header-content{margin: 0 0 0 10px;}
  .main-block p {overflow: auto; max-height: 3em;max-width: 100vh;font-size: 14px}
  .minor-images{width: 100vw;}
  .painting-container{width: 100vw;}
  .painting-image{width: 33vw;}
  .painting-text{max-width: auto;}
  .main h2 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #9A650D;

  }
}

@media only screen and (min-width: 600px) {
  .painting-container{width: 100vw; boders: 1px solid black;}
  .painting-image{width: 33vw;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {background-color: purple}
  .main-block p {font-size: 20px;}
  .painting-container{width: 100vw; boders: 1px solid black;}
  .painting-image{width: 16.67vw;}
  /* .minor-images {flex-flow: wrap;} */
  .images{flex-flow: wrap;}
  .images img {max-width: 20%}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 960px) {
  body {background-color: yellow; max-width: 960px;margin: 0 auto;}
  .minor-images {display: flex}
}
