/* The Responsive Design should work at least with the following devices

Desktop width 960px
Mobile: Google Nexus 5
Tablet: Apple iPad */

@media only screen and (max-width: 420px) {
  body {background-color: #ee82ee;}
  .header-logo{margin: 0;}
  .header-content{margin: 0 0 0 10px;}
  .main-block p {overflow: auto; max-height: 3em;max-width: 100vh;font-size: 14px}
  .main h2 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #9A650D;
  }
}
@media only screen and (max-width: 720px) {
  .minor-images {flex-flow: wrap;}
  .images{flex-flow: wrap;}
  .images img {max-width: 20%}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 420px) {
    .col-1 {
      width: 8.33%;}
    .col-2 {
      width: 16.66%;}
    .col-3 {
      width: 25%;}
    .col-4 {
      width: 33.33%;}
    .col-5 {
      width: 41.66%;}
    .col-6 {
      width: 50%;}
    .col-7 {
      width: 58.33%;}
    .col-8 {
      width: 66.66%;}
    .col-9 {
      width: 75%;}
    .col-10 {
      width: 83.33%;}
    .col-11 {
      width: 91.66%;}
    .col-12 {
      width: 100%;}
}

@media only screen and (min-width: 600px) {
  body {background-color: purple}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {background-color: lightblue}
  .main-block p {font-size: 20px;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 960px) {
  body {background-color: yellow; max-width: 960px;margin: 0 auto;}
  .minor-images {display: flex}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {background-color: #f5c46b; max-width: 1200px}
}
